.navigation {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.navigation>a+a {
    border-left: 1px solid var(--lightGreeny);
}

.navigationLink {
    position: relative;
    padding: 1rem 2rem;
    margin: 1rem 0;
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    color: var(--mainGreeny);
}

.selected {
    border-bottom: 2px solid var(--darkGreeny);
    color: var(--darkGreeny);
}

.navigationLink::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: var(--mainGreeny);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navigationLink:hover {
    color: var(--darkGreeny);
}

.navigationLink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}